body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto 120px;
    margin: 0;
}
header{
    background: #023047;
    padding: 1rem;
    display: flex;
    column-gap: 3rem;
    color: #fff;
    align-items: center;
}
ul{
    list-style-type: none;
}
nav{
    background-color: #4ABAD6;
}
nav .active{
    background-color: rgba(0, 0, 0, 0.3);
}
#hamburger-menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #fff;
    cursor: pointer;
    text-align: left;
    width: 100%;
}
#hamburger-menu::before {
	content: "☰";
}

#hamburger-menu.open::before {
	content: "X";
}

ul.navigation li a{
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 0.50rem 3vw;
}
ul.navigation li:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
ul.navigation{
    display: none;
    padding-left: 0px;
    margin: 0;
}
ul.navigation.open {
	display: block;
}

#index-main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5,auto);
}

.hero{
    width: 100%;
    grid-column: 1 / 11;
    grid-row: 1 / 2;
}

#join-button {
    grid-row: 1 / 2;
    grid-column: 4 / 8;
    background-color: #38b000;
    color: #000;
    padding: 6px 8px;
    border-radius: 5px;
    height: 20px;
    text-align: center;
    position: relative;
    top: 70%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

#join-button:hover{
    background-color: rgba(0, 255, 0, 0.4);
}

#index-main .main-description{
    text-align: justify;
    grid-column: 2 / 10;
}
#main-services{
    grid-column: 2 / 10;
}
#services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.card{
    background: #ededed;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #c3c0c0;
    width: 100%;
}
#event-title{
    grid-column: 2/11;
}
#image-event{
    grid-column: 2 / 11;
    width: 90%;
}

#event-description {
    grid-column: 2 / 10;
    text-align: justify;
}

#weather{
    grid-column: 2 / 9;
    margin-top: 40px;
    margin-bottom: 30px;
    min-width: 180px;
}
footer{
    text-align: center;
    background: #023047;
    color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}
.footer-card{
    width: 240px;
}

/* discover page */
#discover-main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
}

#sidebar {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}

.sidebar-card{
    background: #ededed;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #c3c0c0;
    width: 80%;
}
#photos {
    text-align: center;
}
.container {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px;
  }
  .container img{
    width: 100%;
    background: #000;
    height: auto;
  }

  .container img:hover {
    opacity: .6;
    box-shadow: 0 0 50px #333;
}

/*join page*/
#join-main {
    display: grid;
    grid-template-columns: auto;
    /* justify-content: space-around;*/
}

/*----------- FORM STYLING --------------*/
.join-form label{
    display: block;
    padding-top: 1rem;
    color: #000;
    font-size: .95rem;    
    font-weight: bold;
}

.join-form div{
    padding-top: 1rem;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}


.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type=password],
.join-form input[type=tel]
{
    background-color: #eee;
    display: block;
    border: 2px solid #ccc;
    border-radius:6px;
    padding: .75rem;
    width: 93%;
    max-width: 350px;
    appearance: none;
}
.join-form input[type="range"]
{
    width:100%;
    max-width: 220px;
}
.organization-label{
    display: grid !important;
}

.membership-label{
    font-weight: normal !important;
    cursor: pointer;
}

textarea {
    width: 100%;
    max-width: 370px;
    height: 155px;
    /* padding: 12px 20px; */
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    /* font-size: 16px; */
    resize: none;
    margin-bottom: 20px;
}

.join-form input[type="submit"]
{
    border: none;
    background: #000;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 378px;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
    margin-bottom: 2rem;
}

.join-form input:required{
    border-bottom: 8px solid #d91617;
}
.join-form input:required:valid{
    border-bottom: 8px solid #4a7d12;
    border-top: 2px solid #4a7d12;
    border-left: 2px solid #4a7d12;
    border-right: 2px solid #4a7d12;
    /*background: #d9f3de;*/
}
.mandatory{ 
    color: #d91617;
    font-weight: bold;
    font-size: 1.2rem;
}
#membership-level {
    flex-direction: column;
    padding-left: 5%;
    justify-content: normal;
    display: flex;
    row-gap: 20px;
    margin-top: 2rem;
}

#join-main form {
    padding-left: 1rem;
    padding-right: 2.9rem;
}

.membership-card {
    background: #ededed;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #c3c0c0;
    width: 82%;
}

.membership-card:last-child{
    margin-bottom: 2rem;
}

#thanks-body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #333;
    text-align: center;
}

.container p {
    color: #666;
    font-size: 18px;
    text-align: center;
}