:root {
    --primary-color: #055373;
    --secondary-color: #4a7d12;
    --black-color: #000;
    --white-color: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 120px;
    margin: 0;
}
header{
    background: var(--primary-color);
    padding: 0px 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 20px;
}
header img{
    border-radius: 6px;
}

ul{
    list-style-type: none;
}
nav{
    background-color: var(--black-color);
}
#hamburger-menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--white-color);
    cursor: pointer;
    text-align: left;
    width: 100%;
}
ul.navigation li a{
    text-decoration: none;
    color: var(--white-color);
    display: block;
    padding: 0.50rem 3vw;
}
nav .active, ul.navigation li:hover{
    background-color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
}
ul.navigation{
    display: none;
    padding-left: 0px;
    margin: 0;
}
ul.navigation.open {
	display: block;
}

#hamburger-menu::before {
	content: "☰";
}

#hamburger-menu.open::before {
	content: "X";
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60px auto auto auto;
    padding-left: 1rem;
    padding-right: 1rem
}

main h1{
    border-bottom: 2px solid var(--black-color);
    font-size: 1.05rem;
    text-align: center;
    height: 20px;
    margin-top: 18px;
}
.hero{
    grid-row: 1 / 2;
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero span {
    position: absolute;
    left: 5px;
    top: 10%;
    color: var(--white-color);
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
}
.card{
    border: 1px solid #5b5959;
    border-radius: 7px;
    margin-bottom: 20px;
}
.card ul li{
    text-align: justify;
}
section ul{
    padding: 0px 20px;
}
h2{
    background-color: var(--secondary-color);
    margin: 0;
    padding-bottom: 7px;
    padding-top: 7px;
    color: var(--white-color);
    text-align: center;
    border-radius: 7px 7px 0 0;
}
.weather{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
iframe{
    border: 0;
    width: 100%;
    padding-bottom: 10px;
}

footer{
    text-align: center;
    background: var(--primary-color);
    color: var(--white-color);
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
.card-dark-mode{
    border: 1px solid var(--white-color) !important;
}
.li-dark-mode{
    border:1px solid var(--white-color);
    height: 52px !important;
}
.card-dark-mode a{
    color: var(--white-color);
}

/*----------- FORM STYLING --------------*/
.wf1 label{
    display: block;
    padding-top: 1rem;
    color: #d91617;
    font-size: .9rem;    
}

.wf1 div{
    padding-top: 1rem;
    color:var(--black-color);
    font-size: 1.1rem; 
}


.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type=password]
{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius:6px;
    padding: .75rem;
    width:100%;
    max-width: 350px;
    appearance: none;
}
.wf1 input[type="range"]
{
    width:100%;
    max-width: 220px;
}

#rangevalues {
	display: flex;
    margin: 0 0 0 85px;
    width: 235px;
}

#rangevalues option {
	flex: 1 1 auto;
}

.wf1 input[type="submit"]
{
    border: none;
    background: var(--black-color);
    color: var(--white-color);
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 378px;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
}

.wf1 input:required{
    border-bottom: 8px solid #d91617;
}
.wf1 input:required:valid{
    border-bottom: 8px solid var(--secondary-color);
}

#range-content-response{
    display: flex;
    padding-bottom: 1rem;
}
#pageratingvalue{
    padding-top: 0;
}

