/*----------- FORM STYLING --------------*/
.wf1 label{
    display: block;
    padding-top: 1rem;
    color: #d91617;
    font-size: .9rem;    
}

.wf1 div{
    padding-top: 1rem;
    color: #000;
    font-size: 1.1rem; 
}


.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type=password]
{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius:6px;
    padding: .75rem;
    width:100%;
    max-width: 350px;
    appearance: none;
}
.wf1 input[type="range"]
{
    width:100%;
    max-width: 220px;
}

#rangevalues {
	display: flex;
    margin: 0 0 0 85px;
    width: 235px;
}

#rangevalues option {
	flex: 1 1 auto;
}

.wf1 input[type="submit"]
{
    border: none;
    background: #000;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 378px;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
}

.wf1 input:required{
    border-bottom: 8px solid #d91617;
}
.wf1 input:required:valid{
    border-bottom: 8px solid #4a7d12;
}

#range-content-response{
    display: flex;
    padding-bottom: 1rem;
}
#pageratingvalue{
    padding-top: 0;
}
